/* Made with love by Mutiullah Samim*/

.TrainingType_container{
    .container{
        width: 60%;
        border: solid 1px lightgrey;
        min-height: auto;
        padding-bottom: 20px;
    }
    .blue_theme{
        height: 100%;
    }
    $breakpoint-tablet: 775px;
    @media (max-width: $breakpoint-tablet) {
        .container{width: 100%; height: auto; }
        .login-block{
            height: auto !important;
            position: relative;
        }
        .banner-sec img{ width: 100%; height: auto;}
        .banner-text{
            width: 95%;
            position: absolute;
            bottom: 100%;
            padding-left: 10px; 
            color: #fff;
        }
    }

    

} 

#icon{
    cursor: pointer;
}
.MuiTableCell-head {
    background-color: #E0E0E0 !important; 
    font-size: 1.150rem !important;


}
