/* Made with love by Mutiullah Samim*/

.SkillList_container{
    .container{
        width: 60%;
        border: solid 1px lightgrey;
        min-height: auto;
        padding-bottom: 20px;
    }
    $breakpoint-tablet: 775px;
    @media (max-width: $breakpoint-tablet) {
        .container{width: 100%; height: auto; }
    }

} 

