/* Made with love by Mutiullah Samim*/

.SkillList_container{
    .container{
        width: 60%;
        border: solid 1px lightgrey;
        min-height: auto;
        padding-bottom: 20px;
    }
    .blue_theme{
        height: 100%;
    }
    $breakpoint-tablet: 775px;
    @media (max-width: $breakpoint-tablet) {
        .container{width: 100%; height: auto; }
        .login-block{
            height: auto !important;
            position: relative;
        }
        .banner-sec img{ width: 100%; height: auto;}
        .banner-text{
            width: 95%;
            position: absolute;
            bottom: 100%;
            padding-left: 10px; 
            color: #fff;
        }
    }
    @media (min-width: 960px){
        .MuiGrid-grid-md-6 {
            flex-grow: 0;
            max-width: 100%;
            flex-basis: 50%;
        }
    }
    .MuiTableCell-head {  
        background-color: #E0E0E0; 
    }
    .MuiTableCell-root {
        font-size: 1.150rem;
    }
    

} 

